@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

:root {
	font-family: "Poppins", sans-serif;
	color: var(--primary-dark)
}

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;

	overflow-wrap: break-word;
}

.center-container {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.center-x {
	margin: 0;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.center-y {
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.center {
	margin: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

a {
	text-decoration: none;
	color: inherit;
}

.abs-pos {
	position: absolute;
}

.gray {
	color: #afafaf;
}

code, blockquote {
	background-color: #000000;
	color: #eee;
	border-radius: 2px;
}

blockquote {
	padding: 10px;
}

summary {
	color: #eee;
}

tab { padding-left: 2em }

w_ { color: #6a6a6a; } /* comments */
k_ { color: #4b92da; } /* keywords */
r_ { color: #ca78e3; } /* control flow */
t_ { color: #85bef7; } /* types */
v_ { color: #c1edff; } /* variables */
c_ { color: #a099ff; } /* concepts */
m_ { color: #63d2c8; } /* namespaces */
f_ { color: #ffeca1; } /* functions */
a_ { color: #bb9569; } /* attributes */
s_ { color: #fc662a; } /* strings */
n_ { color: #d6ffa1; } /* numbers */
p_ { color: #ca78e3; } /* preprocessor */
i_ { color: #ffae00; } /* special */

#_0 {
	background-color: #000000;
	color: #aaa;
}

#_1 {
	width: 70%;
	height: 100%;

	background-color: #111111;
	color: #eee;

	overflow: hidden;
}

#_2 {
	width: 80%;

	padding: 50px;
}

#_3, iframe {
	position: sticky;
	height: 90%;
	padding: 25px;

	/* display: block;
	position: absolute;
	height: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 25px;
	margin-right: 25px; */
}

@media (orientation: portrait) {
	#_1 {
		width: 100%;
	}

	#_3 {
		display: none;
	}
}
