/* This is terrible, please don't read */

* {
	padding: 0;
	margin: 0;
}

html, body {
	width: 100%;
	height: 100%;

	overflow-wrap: break-word;
	overflow: scroll;
	display: flex;
	flex-direction: column;

	background-color: #000000;
	color: #eeeeee;
}

body > * {
	flex-shrink: 0;
}

input {
	display: none;
}

.sidebar-left, .sidebar-right {
	position: absolute;
	top: 0;
	border: 0;
	width: 250px;
	height: 100%;
}

.sidebar-left {
	left: 0;
	z-index: 1000000;
}

.sidebar-right {
	left: calc(100% - 250px);
	z-index: 1000002;
}

.links-body {
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
	padding-right: 0;
	width: calc(100% - 25px);
	height: calc(100% - 50px);

	background-color: #000000;
}

.links-pre {
	tab-size: 2;
	white-space: pre;
}

main {
	padding-top: 25px;
	padding-bottom: 100px;
	padding-left: 350px;
	padding-right: 350px;
	flex-grow: 1;

	background-color: #111111;
}

code, blockquote {
	background-color: #000000;
}

blockquote {
	margin: 5px;
	padding: 10px;
}

pre {
	tab-size: 4;
	white-space: pre-wrap;
}

a {
	text-decoration: none;
	color: inherit;
}

a:not(.a):hover, a:not(.a):hover *, .a:hover > *, .a:hover > * * {
	text-decoration: underline;
	color: #afafaf;
}

::-webkit-scrollbar {
	display: none;
}

@media (max-width: 1200px) {
	main {
		padding-left: 300px;
		padding-right: 50px;
	}

	.main {
		padding-right: 300px;
	}
}

@media (orientation: portrait) or (max-width: 700px) {
	.toggle-left, .toggle-right {
		display: block;
		width: 40px;
		height: 40px;

		position: absolute;
		top: 25px;
	}

	.toggle-left {
		left: 25px;
		z-index: 1000001;
	}

	.toggle-right {
		right: 25px;
		z-index: 1000003;
	}

	.sidebar-left, .sidebar-right {
		display: none;
	}

	main {
		margin: 0;
		padding: 25px;
		width: calc(100% - 50px);
	}

	.toggle-left:checked {
		left: unset;
		right: 25px;
	}

	.toggle-left:checked ~ .toggle-right {
		display: none;
	}

	.toggle-left:checked ~ .sidebar-left {
		display: block;
		width: 100%;
	}

	.toggle-right:checked ~ .sidebar-right {
		display: block;
		width: 100%;

		left: 0;
	}
}

.gray {
	color: #afafaf;
}

w_ { color: #6a6a6a; } /* comments */
k_ { color: #4b92da; } /* keywords */
r_ { color: #ca78e3; } /* control flow */
t_ { color: #85bef7; } /* types */
v_ { color: #c1edff; } /* variables */
c_ { color: #a099ff; } /* concepts */
m_ { color: #63d2c8; } /* namespaces */
f_ { color: #ffeca1; } /* functions */
a_ { color: #bb9569; } /* attributes */
s_ { color: #fc662a; } /* strings */
n_ { color: #d6ffa1; } /* numbers */
p_ { color: #ca78e3; } /* preprocessor */
i_ { color: #ffae00; } /* special */

/* TODO: Light mode
@media (prefers-color-scheme: light) {
	body {
		background-color: white;
		color: black;
	}
} */
