@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

:root {
	--primary-light: #F4F4F2;
	--secondary-light: #E8E8E8;
	--primary-dark: #495464;
	--secondary-dark: #afb2bb;
}

:root {
	font-family: "Poppins", sans-serif;
	color: var(--primary-dark)
}

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.center-container {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.center-x {
	margin: 0;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.center-y {
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.center {
	margin: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

blockquote {
	background-color: #000000;

	padding: 10px;
}

a {
	color: #afafaf;
	text-decoration: none;
}

summary {
	color: #eee;
}

tab { padding-left: 2em }

w_ { color: #2c2c2c; } /* comments */
k_ { color: #4b92da; } /* keywords */
r_ { color: #ca78e3; } /* control flow */
t_ { color: #76b1ec; } /* types */
v_ { color: #b0e8fe; } /* variables */
c_ { color: #a099ff; } /* concepts */
m_ { color: #63d2c8; } /* namespaces */
f_ { color: #ffeca1; } /* functions */
a_ { color: #bb9569; } /* attributes */
s_ { color: #fc662a; } /* strings */
n_ { color: #d6ffa1; } /* numbers */
/* p_ { color: #ff7d20; } preprocessor */
p_ { color: #ca78e3; } /* preprocessor */
i_ { color: #ffae00; } /* special */

#_0 {
	background-color: #000000;
	color: #aaa;
}

#_1 {
	width: 70%;
	height: 100%;

	background-color: #111111;
	color: #eee;

	overflow: scroll;
}

#_2 {
	width: 80%;

	padding: 50px;
}

#_3 {
	position: sticky;

	padding: 25px;
}

@media (orientation: portrait) {
	#_1 {
		width: 100%;
	}

	#_3 {
		display: none;
	}
}
